
  <div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <!-- <img src="https://fastly.4sqi.net/img/general/600x600/398961212_JT8UPQLoBAJ21T01XX1wwfscJO7F5cJIlQlJDcbai6U.jpg"class="img-fluid rounded-start" alt="..."> -->
        <img src= {{prodTarjeta.image}} class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> {{prodTarjeta.title}}</h5>
          <p class="card-text">{{prodTarjeta.description}}</p>
          <p class="card-text"><small class="text-body-secondary">${{prodTarjeta.price}}</small></p>
          <a href="#" class="btn btn-primary">🛒</a>
        </div>
      </div>
    </div>
  </div>

