<div class="row text-center">
  <h1>Quienes somos?</h1>
</div>
<hr />
<div class="row">
  <div class="col-md-12">
    <p>
      Somos un grupo de entusiastas y aprendices del desarrollo web,
      especialmente interesados en el uso de Angular y TypeScript. Hasta ahora,
      hemos adquirido conocimientos sólidos en varios aspectos de Angular,
      incluyendo:
    </p>
    <ul>
        <li>Componentes: Entendemos que los componentes son bloques de construcción fundamentales en las aplicaciones Angular, y hemos aprendido sobre la interpolación, data binding, event binding y two-way binding.</li>
        <li>    Directivas: Hemos estudiado las directivas estructurales y de atributos en Angular, y también hemos aprendido a crear nuestras propias directivas personalizadas.</li>
        <li>    Ciclos de vida de los componentes: Hemos explorado los ciclos de vida de los componentes en Angular y cómo utilizar diferentes "hooks" del ciclo de vida para controlar y mejorar el comportamiento de nuestros componentes.</li>
        <li>    Referencias locales: Hemos aprendido sobre las referencias locales en Angular y cómo utilizarlas para acceder a elementos del DOM, componentes y directivas directamente desde las plantillas.</li>
        <li>    Comunicación entre componentes: Hemos adquirido conocimientos sobre cómo utilizar el enlace de propiedades (property binding) y el enlace de eventos (event binding) para lograr una comunicación efectiva entre componentes en Angular.</li>
    </ul>
  </div>
</div>
